* {
    border: 0;
    color: rgb(241, 241, 241);
    font-family: 'Roboto', Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes animateBlink {
    from {color: rgb(241, 241, 241)}
    to {color: rgba(100, 48, 48, 0.75)}
  }

a {
    text-decoration: none;
    font-weight: bold;
}

#about {
    background-color: rgba(36, 17, 17, 0.75);
    height: 700px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 2%;
    border-radius: 5%;
    width: 88%;
}

.aboutCard{
    margin-right: 10%;
}

#aboutTable {
    height: 70%;
    width: 100%;
    padding : 5%;
    table-layout: fixed;
}

a:hover{
    animation: animateBlink;
    animation-duration: 0.5s;
    text-decoration: underline 10px solid rgba(100, 48, 48, 0.75);
}

body {
    background-image: url('./imgs/background1.jpg');
    background-size: cover;
}

footer {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(241, 241, 241);
    padding: 1%;  
    text-align: center;
}

h1,h2,p {
    padding: 0.5%;
}

h1:hover {
    animation: animateBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #fff;
    font-size: xxx-large;
    text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 40px #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.75);
    height: 200%;
    padding: 1%;
}

#homebg {
    background-image: url('./imgs/background.png');
    background-size: cover;
}

li{
    font-size: 12px;
    margin: 5%;
}

.nav-item {
    color: rgb(241, 241, 241);
    display: inline;
    list-style: none;
    margin-right: 0.5%;
    
}

#main-card{
    background-color: rgba(36, 17, 17, 0.75);
    height: 480px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 2%;
    border-radius: 5%;
    width: 88%;
}

#main-card:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 144, 144, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-card-home{
    background-color: rgba(36, 17, 17, 0.75);
    height: 480px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    border-radius: 5%;
    width: 88%;
}

#main-card-home:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 144, 144, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#namecard {
    padding-top: 1%;
    padding-left: 5%;
}

nav {
    text-align: right;
    margin-right: 5%;
}

.profileImg:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 144, 144, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#profilePic{
    border-radius: 50%;
    margin-left: 77%;
    margin-top: -8%;
    width: 15%;
}

#profilePicCenter {
    border-radius: 50%;
    margin-top: -5%;
    margin-left: 45%;
    width: 12%;
}

#profilePicLeft {
    border-radius: 50%;
    margin-top: -5%;
    margin-left: 5%;
    width: 12%;
}

.profileImg{
    display: inline;
    border: 1px solid;
}

.projectImg{
    display: block;
    margin: auto;
    width: 40px;
}

.socialImg {
    display: inline;
    width: 60px;
}

#contactTable {
    margin: auto;
    width: 25%;
    text-align: left;
}

.projectTab {
    background-color : rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10%;
}

.projectTab:hover{
    background-color : rgba(0, 0, 0, 1)
}

.projectTab>a{
    font-size: 12px;
}

#projectTable {
    height: 40%;
    width: 40%;
    margin: auto;
    padding: 1%;
    table-layout: fixed;
    text-align: center;
}



#table {
    margin-left: 5%;
}

#title {
    position: absolute;
    margin-left: 45%;
    margin-top: 3%;
    text-align: center;
}